@model PayInc_Customer_web.Areas.Reports.Models.StockAllocationModel
@{
    ViewData["Title"] = "Stock Allocation Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form class="form" method="post">
    <div class="card">
        <div class="card-body">
            <div class="form-group row">
                <div class="col-lg-3 col-md-9 col-sm-12">
                    <div class="input-group">
                        @Html.DropDownListFor(m => m.StockType, new SelectList(ViewBag.StockType, "stockTypeId", "stockType"), new { @class = "form-control" })
                    </div>
                    @Html.ValidationMessageFor(m => m.StockType, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-3 col-md-9 col-sm-12">
                    <div class="input-group date">
                        <input type="text" class="form-control" name="FromDate" id="datepicker_1" value="@System.DateTime.Now.AddDays(-1).Date.ToString("MM-dd-yyyy")" placeholder="from date" readonly />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="la la-calendar"></i>
                            </span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-3 col-md-9 col-sm-12">
                    <div class="input-group date">
                        <input type="text" class="form-control" name="ToDate" id="datepicker_2" value="@System.DateTime.Now.Date.ToString("MM-dd-yyyy")" placeholder="from date" readonly />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="la la-calendar"></i>
                            </span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-3 col-md-9 col-sm-12">
                    <button type="submit" class="btn btn-primary mr-2">View Report</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="mt-2">
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Allocation Id</td>
                        <td>Allocated To</td>
                        <td>Total Allocated</td>
                        <td>Available Stocks</td>
                        <td>Used Stocks</td>
                        <td>Allocation Date</td>
                        <td>Stock Type</td>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.StockAllocationReport != null)
                    {

                        var listReport = (List<PayInc_Customer_web.Areas.Reports.Models.StockAllocationRes>)ViewBag.StockAllocationReport;

                        foreach (var item in listReport)
                        {
                            <tr>
                                <td>@item.stockAllocationId</td>
                                <td>@item.stockAllocatedTo</td>
                                <td>@item.totalStockAllocated</td>
                                <td>@item.availableStocks</td>
                                <td>@item.usedStocks</td>
                                <td>@item.stockAllocatedDate</td>
                                <td>@item.stockType</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="8">
                                <span class="text-center">@ViewData["ErrorMessage"]</span>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var arrows = {
        leftArrow: '<i class="la la-angle-left"></i>',
        rightArrow: '<i class="la la-angle-right"></i>'
    }
    $('#datepicker_1').datepicker({
        todayHighlight: true,
        orientation: "bottom left",
        format: 'mm-dd-yyyy',
        templates: arrows,
        autoclose: true,
    });
    $('#datepicker_2').datepicker({
        todayHighlight: true,
        orientation: "bottom left",
        format: 'mm-dd-yyyy',
        templates: arrows,
        autoclose: true,
    });
</script>
<partial name="_ValidationScriptsPartial">