@model PayInc_Customer_web.Areas.AEPS.Models.AEPSInput
@{
    ViewData["Title"] = "AEPS Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex flex-row">
    <div class="flex-row-fluid">
        <div class="card card-custom">
            <div class="card-header card-header-tabs-line">
                <div class="card-toolbar">
                    <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x" role="tablist">
                        <li class="nav-item mr-3">
                            <a class="nav-link active" data-toggle="tab" href="#kt_apps_contacts_view_tab_4">
                                <span class="nav-icon mr-2">
                                    <span class="svg-icon mr-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M11,20 L11,17 C11,16.4477153 11.4477153,16 12,16 C12.5522847,16 13,16.4477153 13,17 L13,20 L15.5,20 C15.7761424,20 16,20.2238576 16,20.5 C16,20.7761424 15.7761424,21 15.5,21 L8.5,21 C8.22385763,21 8,20.7761424 8,20.5 C8,20.2238576 8.22385763,20 8.5,20 L11,20 Z" fill="#000000" opacity="0.3" />
                                                <path d="M3,5 L21,5 C21.5522847,5 22,5.44771525 22,6 L22,16 C22,16.5522847 21.8522847,17 21,17 L3,17 C2.44771525,17 2,16.5522847 2,16 L2,6 C2,5.44771525 2.44771525,5 3,5 Z M4.5,8 C4.22385763,8 4,8.22385763 4,8.5 C4,8.77614237 4.22385763,9 4.5,9 L13.5,9 C13.7761424,9 14,8.77614237 14,8.5 C14,8.22385763 13.7761424,8 13.5,8 L4.5,8 Z M4.5,10 C4.22385763,10 4,10.2238576 4,10.5 C4,10.7761424 4.22385763,11 4.5,11 L7.5,11 C7.77614237,11 8,10.7761424 8,10.5 C8,10.2238576 7.77614237,10 7.5,10 L4.5,10 Z" fill="#000000" //0
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                </span>
                                <span class="nav-text font-weight-bold">Balance Equiry</span>   
                            </a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_1">
                                <span class="nav-icon mr-2">
                                    <span class="svg-icon mr-3">
                                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M4.875,20.75 C4.63541667,20.75 4.39583333,20.6541667 4.20416667,20.4625 L2.2875,18.5458333 C1.90416667,18.1625 1.90416667,17.5875 2.2875,17.2041667 C2.67083333,16.8208333 3.29375,16.8208333 3.62916667,17.2041667 L4.875,18.45 L8.0375,15.2875 C8.42083333,14.9041667 8.99583333,14.9041667 9.37916667,15.2875 C9.7625,15.6708333 9.7625,16.2458333 9.37916667,16.6291667 L5.54583333,20.4625 C5.35416667,20.6541667 5.11458333,20.75 4.875,20.75 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" />
                                                <path d="M2,11.8650466 L2,6 C2,4.34314575 3.34314575,3 5,3 L19,3 C20.6568542,3 22,4.34314575 22,6 L22,15 C22,15.0032706 21.9999948,15.0065399 21.9999843,15.009808 L22.0249378,15 L22.0249378,19.5857864 C22.0249378,20.1380712 21.5772226,20.5857864 21.0249378,20.5857864 C20.7597213,20.5857864 20.5053674,20.4804296 20.317831,20.2928932 L18.0249378,18 L12.9835977,18 C12.7263047,14.0909841 9.47412135,11 5.5,11 C4.23590829,11 3.04485894,11.3127315 2,11.8650466 Z M6,7 C5.44771525,7 5,7.44771525 5,8 C5,8.55228475 5.44771525,9 6,9 L15,9 C15.5522847,9 16,8.55228475 16,8 C16,7.44771525 15.5522847,7 15,7 L6,7 Z" fill="#000000" />
                                            </g>
                                        </svg>
                                    </span>
                                </span>
                                <span class="nav-text font-weight-bold">Cash Withdrawal</span>
                            </a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_2">
                                <span class="nav-icon mr-2">
                                    <span class="svg-icon mr-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M11,20 L11,17 C11,16.4477153 11.4477153,16 12,16 C12.5522847,16 13,16.4477153 13,17 L13,20 L15.5,20 C15.7761424,20 16,20.2238576 16,20.5 C16,20.7761424 15.7761424,21 15.5,21 L8.5,21 C8.22385763,21 8,20.7761424 8,20.5 C8,20.2238576 8.22385763,20 8.5,20 L11,20 Z" fill="#000000" opacity="0.3" />
                                                <path d="M3,5 L21,5 C21.5522847,5 22,5.44771525 22,6 L22,16 C22,16.5522847 21.5522847,17 21,17 L3,17 C2.44771525,17 2,16.5522847 2,16 L2,6 C2,5.44771525 2.44771525,5 3,5 Z M4.5,8 C4.22385763,8 4,8.22385763 4,8.5 C4,8.77614237 4.22385763,9 4.5,9 L13.5,9 C13.7761424,9 14,8.77614237 14,8.5 C14,8.22385763 13.7761424,8 13.5,8 L4.5,8 Z M4.5,10 C4.22385763,10 4,10.2238576 4,10.5 C4,10.7761424 4.22385763,11 4.5,11 L7.5,11 C7.77614237,11 8,10.7761424 8,10.5 C8,10.2238576 7.77614237,10 7.5,10 L4.5,10 Z" fill="#000000" />
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                </span>
                                <span class="nav-text font-weight-bold">Mini Statement</span>
                            </a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_3">
                                <span class="nav-icon mr-2">
                                    <span class="svg-icon mr-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M11,20 L11,17 C11,16.4477153 11.4477153,16 12,16 C12.5522847,16 13,16.4477153 13,17 L13,20 L15.5,20 C15.7761424,20 16,20.2238576 16,20.5 C16,20.7761424 15.7761424,21 15.5,21 L8.5,21 C8.22385763,21 8,20.7761424 8,20.5 C8,20.2238576 8.22385763,20 8.5,20 L11,20 Z" fill="#000000" opacity="0.3" />
                                                <path d="M3,5 L21,5 C21.5522847,5 22,5.44771525 22,6 L22,16 C22,16.5522847 21.5522847,17 21,17 L3,17 C2.44771525,17 2,16.5522847 2,16 L2,6 C2,5.44771525 2.44771525,5 3,5 Z M4.5,8 C4.22385763,8 4,8.22385763 4,8.5 C4,8.77614237 4.22385763,9 4.5,9 L13.5,9 C13.7761424,9 14,8.77614237 14,8.5 C14,8.22385763 13.7761424,8 13.5,8 L4.5,8 Z M4.5,10 C4.22385763,10 4,10.2238576 4,10.5 C4,10.7761424 4.22385763,11 4.5,11 L7.5,11 C7.77614237,11 8,10.7761424 8,10.5 C8,10.2238576 7.77614237,10 7.5,10 L4.5,10 Z" fill="#000000" />
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                </span>
                                <span class="nav-text font-weight-bold">Aadhar Pay</span>
                            </a>
                        </li>
                        <li class="nav-item mr-3">
                            <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_5">
                                <span class="nav-icon mr-2">
                                    <span class="svg-icon mr-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <rect x="0" y="0" width="24" height="24" />
                                                <path d="M11,20 L11,17 C11,16.4477153 11.4477153,16 12,16 C12.5522847,16 13,16.4477153 13,17 L13,20 L15.5,20 C15.7761424,20 16,20.2238576 16,20.5 C16,20.7761424 15.7761424,21 15.5,21 L8.5,21 C8.22385763,21 8,20.7761424 8,20.5 C8,20.2238576 8.22385763,20 8.5,20 L11,20 Z" fill="#000000" opacity="0.3" />
                                                <path d="M3,5 L21,5 C21.5522847,5 22,5.44771525 22,6 L22,16 C22,16.5522847 21.5522847,17 21,17 L3,17 C2.44771525,17 2,16.5522847 2,16 L2,6 C2,5.44771525 2.44771525,5 3,5 Z M4.5,8 C4.22385763,8 4,8.22385763 4,8.5 C4,8.77614237 4.22385763,9 4.5,9 L13.5,9 C13.7761424,9 14,8.77614237 14,8.5 C14,8.22385763 13.7761424,8 13.5,8 L4.5,8 Z M4.5,10 C4.22385763,10 4,10.2238576 4,10.5 C4,10.7761424 4.22385763,11 4.5,11 L7.5,11 C7.77614237,11 8,10.7761424 8,10.5 C8,10.2238576 7.77614237,10 7.5,10 L4.5,10 Z" fill="#000000" />
                                            </g>
                                        </svg>
                                        <!--end::Svg Icon-->
                                    </span>
                                </span>
                                <span class="nav-text font-weight-bold">Driver and Installation Process</span>
                            </a>
                        </li>


                    </ul>
                </div>
            </div>
            <div class="card-body px-0">
                <div class="tab-content pt-5 pl-3">
                    <div class="tab-pane active" id="kt_apps_contacts_view_tab_4" role="tabpanel">
                        <form action="@Url.Action("CaptureBalanceEnquiry","AEPS")" method="post" id="form_balance_enq" class="m-2">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.PidData, new { @class = "PidData" })
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12">Select Bank</label>
                                <div class="col-lg-6 col-md-9 col-sm-12">
                                    @Html.DropDownListFor(m => m.BankName, new SelectList(ViewBag.BankList, "bankNBIN", "bankName"), "--Select Bank--", new { @class = "form-control searchable-dropdown", style = "width:100%" })
                                    @Html.ValidationMessageFor(m => m.BankName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12">Aadhar Number</label>
                                <div class="col-lg-6 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="flaticon2-hospital"></i>
                                            </span>
                                        </div>
                                        @Html.TextBoxFor(m => m.AadharNumber, "", new { @class = "form-control aadhar-input", placeholder = "Enter Aadhar Number", maxlength="14", onkeypress = "return NumericKey(event);" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.AadharNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12">Customer Number</label>
                                <div class="col-lg-6 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="flaticon2-phone"></i></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.CustomerNumber, "", new { @class = "form-control", placeholder = "Enter Customer Number", maxlength = "10", onkeypress = "return NumericKey(event);" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.CustomerNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12"></label>
                                <div class="checkbox-inline">
                                    <label class="checkbox">
                                        <input type="checkbox" />
                                        <span></span>
                                        I agree to the Terms & Conditions
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-6 ml-lg-auto">
                                    <button type="submit" id="btn_bal_enq" class="btn btn-primary font-weight-bold mr-2">Capture and Balance Enquiry</button>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="tab-pane" id="kt_apps_contacts_view_tab_1" role="tabpanel">
                        <form action="@Url.Action("CaptureWithdrawal","AEPS")" id="form_withdraw" class="m-2">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.PidData, new { @class = "PidData" })
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12">Select Bank</label>
                                <div class="col-lg-6 col-md-9 col-sm-12">
                                    @Html.DropDownListFor(m => m.BankName, new SelectList(ViewBag.BankList, "bankNBIN", "bankName"), "--Select Bank--", new { @class = "form-control searchable-dropdown", style = "width:100%" })
                                    @Html.ValidationMessageFor(m => m.BankName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12">Aadhar Number</label>
                                <div class="col-lg-6 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="flaticon2-hospital"></i>
                                            </span>
                                        </div>
                                        @Html.TextBoxFor(m => m.AadharNumber, "", new { @class = "form-control aadhar-input", placeholder = "Enter Aadhar Number", maxlength = "14", onkeypress = "return NumericKey(event);" })
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.AadharNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12">Customer Number</label>
                                <div class="col-lg-6 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="flaticon2-phone"></i></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.CustomerNumber, "", new { @class = "form-control", placeholder = "Enter Customer Number", maxlength = "10", onkeypress = "return NumericKey(event);" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.CustomerNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12">Amount</label>
                                <div class="col-lg-6 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="flaticon2-telegram-logo"></i></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.Amount, "", new { @class = "form-control", placeholder = "Enter Amount", maxlength = "5", onkeypress = "return NumericKey(event);" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12"></label>
                                <div class="checkbox-inline">
                                    <label class="checkbox">
                                        <input type="checkbox" />
                                        <span></span>
                                        I agree to the Terms & Conditions
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-10 ml-lg-auto">
                                    <button type="submit" id="btn_cash_withdrawal" class="btn btn-primary font-weight-bold mr-2">Capture and Cash Withdrawal</button>
                                </div>
                            </div>

                        </form>

                    </div>

                    <div class="tab-pane" id="kt_apps_contacts_view_tab_2" role="tabpanel">
                        <form action="@Url.Action("CaptureMiniStmnt","AEPS")" id="form_ministatement" class="m-2">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.PidData, new { @class = "PidData" })
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12">Select Bank</label>
                                <div class="col-lg-10 col-md-9 col-sm-12">
                                    @Html.DropDownListFor(m => m.BankName, new SelectList(ViewBag.BankList, "bankNBIN", "bankName"), "--Select Bank--", new { @class = "form-control searchable-dropdown", style = "width:100%" })
                                    @Html.ValidationMessageFor(m => m.BankName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12">Aadhar Number</label>
                                <div class="col-lg-10 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="flaticon2-hospital"></i>
                                            </span>
                                        </div>
                                        @Html.TextBoxFor(m => m.AadharNumber, "", new { @class = "form-control", placeholder = "Enter Aadhar Number", maxlength = "12", onkeypress = "return NumericKey(event);" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.AadharNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12">Customer Number</label>
                                <div class="col-lg-10 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="flaticon2-phone"></i></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.CustomerNumber, "", new { @class = "form-control", placeholder = "Enter Customer Number", maxlength = "10", onkeypress = "return NumericKey(event);" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.CustomerNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12"></label>
                                <div xc
                                     class="checkbox-inline">
                                    <label class="checkbox">
                                        <input type="checkbox" />
                                        <span></span>
                                        I agree to the Terms & Conditions
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-10 ml-lg-auto">
                                    <button type="submit" id="btn_statement" class="btn btn-primary font-weight-bold mr-2">Capture and View Statement</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="kt_apps_contacts_view_tab_3" role="tabpanel">
                        <form action="@Url.Action("CaptureAadharPay","AEPS")" id="form_aadharpay" class="m-2">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.PidData, new { @class = "PidData" })
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12">Select Bank</label>
                                <div class="col-lg-10 col-md-9 col-sm-12">
                                    @Html.DropDownListFor(m => m.BankName, new SelectList(ViewBag.BankList, "bankNBIN", "bankName"), "--Select Bank--", new { @class = "form-control searchable-dropdown", style = "width:100%" })
                                    @Html.ValidationMessageFor(m => m.BankName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12">Aadhar Number</label>
                                <div class="col-lg-10 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="flaticon2-hospital"></i>
                                            </span>
                                        </div>
                                        @Html.TextBoxFor(m => m.AadharNumber, "", new { @class = "form-control", placeholder = "Enter Aadhar Number", maxlength = "12", onkeypress = "return NumericKey(event);" })
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.AadharNumber, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12">Customer Number</label>
                                <div class="col-lg-10 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="flaticon2-phone"></i></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.CustomerNumber, "", new { @class = "form-control", placeholder = "Enter Customer Number", maxlength = "10", onkeypress = "return NumericKey(event);" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.CustomerNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12">Amount</label>
                                <div class="col-lg-10 col-md-9 col-sm-12">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="flaticon2-envelope"></i></span>
                                        </div>
                                        @Html.TextBoxFor(m => m.Amount, "", new { @class = "form-control", placeholder = "Enter Amount", maxlength = "5", onkeypress = "return NumericKey(event);" })
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label text-left col-lg-2 col-sm-12"></label>
                                <div class="checkbox-inline">
                                    <label class="checkbox">
                                        <input type="checkbox" />
                                        <span></span>
                                        I agree to the Terms & Conditions
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-10 ml-lg-auto">
                                    <button type="submit" id="btn_aadharpay" class="btn btn-primary font-weight-bold mr-2">Capture and Aadhar Pay</button>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="tab-pane" id="kt_apps_contacts_view_tab_5" role="tabpanel">
                        <div class="row m-2">
                            <div class="col-lg-4">
                                RD Services:  <a href="https://rdserviceonline.com/">Click here to download</a>
                                <br />
                                MORPHO Devices setup:  <a href="https://rdserviceonline.com/">Click here to download</a>
                                <br />
                                StarTek Devices setup:  <a href="https://rdserviceonline.com/">Click here to download</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="AVDMPort"/>
</div>
<style>
    th {
        background-color: #f8f8f9;
    }
</style>
<div class="modal fade" id="mymodal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Acknowledgement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <section id="ack_section">

                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="PrintReceipt()">Print</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".searchable-dropdown").select2();
        $(".aadhar-input").inputmask({
            "mask": "9999-9999-9999",
        });

        $("#form_withdraw").submit(function (e) {
            e.preventDefault();
            if (!$(this).valid()) {
                return;
            }
            CaptureMantra("W");
            //captureCW();
        });
        $("#form_balance_enq").submit(function (e) {
            e.preventDefault();
            if (!$(this).valid()) {
                return;
            }
            //$("#btn_bal_enq").addClass("spinner spinner-white spinner-right");
            //$("#btn_bal_enq").attr("disabled", "disabled");

            CaptureMantra("BE");
            //captureEnquiry();
        });
        $("#form_ministatement").submit(function (e) {
            e.preventDefault();
            if (!$(this).valid()) {
                return;
            }
            CaptureMantra("M");
            //captureMiniStatement();
        });
        $("#form_aadharpay").submit(function (e) {
            e.preventDefault();
            if (!$(this).valid()) {
                return;
            }
            CaptureMantra("AP");
            //captureCW();
        });
    });
</script>

<script type="text/javascript">
    function captureEnquiry() {
        var port;
        var urlStr = '';
        $("#btn_bal_enq").addClass("spinner spinner-white spinner-right");
        $("#btn_bal_enq").attr("disabled", "disabled");
        urlStr = 'http://localhost:11100/rd/capture';
        
        try {
            getJSONCapture(urlStr,
                function (err, data) {
                    
                    if (err != null) {
                        alert('Something went wrong: ' + err);
                    } else {
                        httpStaus = true;
                        res = { httpStaus: httpStaus, data: data };
                        $('.PidData').val(data);
                        var $doc = $.parseXML(data);
                        var Message = $($doc).find('Resp').attr('errInfo');
                        if (Message == '') {    
                        }
                        else {
                            if (Message == 'Success') {

                                var url = $("#form_balance_enq").attr("action");
                                $.ajax({
                                    url: url,
                                    type: "POST",
                                    data: $("#form_balance_enq").serialize(),
                                    success: function (data) {
                                        alert(data.errorMessage);
                                        $("#btn_bal_enq").removeClass("spinner spinner-white spinner-right");
                                        $("#btn_bal_enq").removeAttr("disabled");
                                        try {
                                            var checkError = data.errorMessage;
                                            if (typeof (checkError) !== "undefined") {
                                                toastr.error(checkError, "Alert");
                                                return false;
                                            }
                                            else {
                                                $("#ack_section").html(data);
                                                $("mymodal").modal("show");
                                            }
                                        }
                                        catch (error) {
                                            $("#ack_section").html(data);
                                            $("mymodal").modal("show");
                                        }
                                       
                                        
                                    },
                                    error: function (er) {

                                    }
                                });
                            }
                            else {
                                alert(Message);
                                var url = $("#form_balance_enq").attr("action");
                                $.ajax({
                                    url: url,
                                    type: "POST",
                                    data: $("#form_balance_enq").serialize(),
                                    success: function (data) {
                                        $("#btn_bal_enq").removeClass("spinner spinner-white spinner-right");
                                        $("#btn_bal_enq").removeAttr("disabled");
                                        try {
                                            var checkError = data.errorMessage;
                                            if (typeof (checkError) !== "undefined") {
                                                toastr.error(checkError, "Alert");
                                                return false;
                                            }
                                            else {
                                                $("#ack_section").html(data);
                                                $("mymodal").modal("show");
                                            }
                                        }
                                        catch (error) {
                                            $("#ack_section").html(data);
                                            $("mymodal").modal("show");
                                        }
                                    },
                                    error: function (er) {

                                    }
                                });

                            }


                        }
                    }
                }
            );
        }
        catch (err) {
            alert(err.Message);
        }

    }                                                                                                                                                                                                                                                                               
    function captureCW() {
       
        var port;
        var urlStr = '';

        urlStr = 'http://localhost:11100/rd/capture';
        $("#btn_cash_withdrawal").addClass("spinner spinner-white spinner-right");
        $("#btn_cash_withdrawal").attr("disabled", "disabled");
        try {
            getJSONCapture(urlStr,
                function (err, data) {

                    if (err != null) {
                        alert('Something went wrong: ' + err);
                    } else {
                        httpStaus = true;
                        res = { httpStaus: httpStaus, data: data };

                        $('.PidData').val(data);

                        var $doc = $.parseXML(data);
                        var Message = $($doc).find('Resp').attr('errInfo');

                        if (Message == '') {
                            //document.getElementById('captureButtonBalance').value = 'Captured';
                            //document.getElementById('captureButtonBalance').disabled = true;


                        }
                        else {
                            if (Message == 'Success') {
                                var url = $("#form_withdraw").attr("action");
                                $.ajax({
                                    url: url,
                                    type: "POST",
                                    data: $("#form_withdraw").serialize(),
                                    success: function (data) {
                                        $("#btn_cash_withdrawal").removeClass("spinner spinner-white spinner-right");
                                        $("#btn_cash_withdrawal").removeAttr("disabled");
                                        try {
                                            var checkError = data.errorMessage;
                                            if (typeof (checkError) !== "undefined") {
                                                toastr.error(checkError, "Alert");
                                                return false;
                                            }
                                            else {
                                                $("#ack_section").html(data);
                                                $("mymodal").modal("show");
                                            }
                                        }
                                        catch (error) {
                                            $("#ack_section").html(data);
                                            $("mymodal").modal("show");
                                        }
                                    },
                                    error: function (er) {
                                        $("#btn_cash_withdrawal").removeClass("spinner spinner-white spinner-right");
                                        $("#btn_cash_withdrawal").removeAttr("disabled");
                                    }
                                });
                            }
                            else {

                                alert(Message);
                                var url = $("#form_withdraw").attr("action");
                                $.ajax({
                                    url: url,
                                    type: "POST",
                                    data: $("#form_withdraw").serialize(),
                                    success: function (data) {
                                        $("#btn_cash_withdrawal").removeClass("spinner spinner-white spinner-right");
                                        $("#btn_cash_withdrawal").removeAttr("disabled");
                                        try {
                                            var checkError = data.errorMessage;
                                            if (typeof (checkError) !== "undefined") {
                                                toastr.error(checkError, "Alert");
                                                return false;
                                            }
                                            else {
                                                $("#ack_section").html(data);
                                                $("mymodal").modal("show");
                                            }
                                        }
                                        catch (error) {
                                            $("#ack_section").html(data);
                                            $("mymodal").modal("show");
                                        }
                                    },
                                    error: function (er) {
                                        $("#btn_cash_withdrawal").removeClass("spinner spinner-white spinner-right");
                                        $("#btn_cash_withdrawal").removeAttr("disabled");
                                    }
                                });
                            }


                        }
                    }
                }
            );
        }
        catch (err) {
            alert(err.Message);
        }

    }
    function captureMiniStatement() {
        var port;
        var urlStr = '';

        urlStr = 'http://localhost:11100/rd/capture';
        $("#btn_statement").addClass("spinner spinner-white spinner-right");
        $("#btn_statement").attr("disabled", "disabled");
        try {
            getJSONCapture(urlStr,
                function (err, data) {
                    if (err != null) {
                        alert('Something went wrong: ' + err);
                    } else {
                        httpStaus = true;
                        res = { httpStaus: httpStaus, data: data };

                        $('.PidData').val(data);

                        var $doc = $.parseXML(data);
                        var Message = $($doc).find('Resp').attr('errInfo');

                        if (Message == '') {
                            //document.getElementById('captureButtonBalance').value = 'Captured';
                            //document.getElementById('captureButtonBalance').disabled = true;


                        }
                        else {
                            if (Message == 'Success') {
                                var url = $("#form_ministatement").attr("action");
                                $.ajax({
                                    url: url,
                                    type: "POST",
                                    data: $("#form_ministatement").serialize(),
                                    success: function (data) {
                                        $("#btn_statement").removeClass("spinner spinner-white spinner-right");
                                        $("#btn_statement").removeAttr("disabled");
                                        try {
                                            var checkError = data.errorMessage;
                                            if (typeof (checkError) !== "undefined") {
                                                toastr.error(checkError, "Alert");
                                                return false;
                                            }
                                            else {
                                                $("#ack_section").html(data);
                                                $("mymodal").modal("show");
                                            }
                                        }
                                        catch (error) {
                                            $("#ack_section").html(data);
                                            $("mymodal").modal("show");
                                        }
                                    },
                                    error: function (er) {
                                        $("#btn_statement").removeClass("spinner spinner-white spinner-right");
                                        $("#btn_statement").removeAttr("disabled");
                                    }
                                });
                            }
                            else {
                                alert(Message);
                                var url = $("#form_ministatement").attr("action");
                                $.ajax({
                                    url: url,
                                    type: "POST",
                                    data: $("#form_ministatement").serialize(),
                                    success: function (data) {
                                        debugger;
                                        $("#btn_statement").removeClass("spinner spinner-white spinner-right");
                                        $("#btn_statement").removeAttr("disabled");
                                        try {
                                            var checkError = data.errorMessage;
                                            if (typeof (checkError) !== "undefined") {
                                                toastr.error(checkError, "Alert");
                                                return false;
                                            }
                                            else {
                                                $("#ack_section").html(data);
                                                $("mymodal").modal("show");
                                            }
                                        }
                                        catch (error) {
                                            $("#ack_section").html(data);
                                            $("mymodal").modal("show");
                                        }
                                    },
                                    error: function (er) {
                                        $("#btn_statement").removeClass("spinner spinner-white spinner-right");
                                        $("#btn_statement").removeAttr("disabled");
                                    }
                                });
                            }


                        }
                    }
                }
            );
        }
        catch (err) {
            alert(err.Message);
        } 
    }
    var getJSONCapture = function (url, callback) {
        debugger;
        var xhr = new XMLHttpRequest();
        xhr.open('CAPTURE', url, true);
        xhr.responseType = 'text'; //json
        var InputXml = '<?xml version="1.0"?><PidOptions><Opts fCount="1" fType="0" iCount="0" pCount="0" format="0" pidVer="2.0" timeout="10000" wadh="" env="P" /></PidOptions>';
        xhr.onload = function () {
            var status = xhr.status;
            if (status == 200) {
                callback(null, xhr.response);
            } else {
                callback(status);
            }
        };
        xhr.send(InputXml);
    };
</script>

<script>
    function PrintReceipt() {
        var html = $('#ack_section').html();
        var myWindow = window.open('', 'Receipt', 'height=400,width=600');
        myWindow.document.write('<html><head><title>Receipt</title>');
        myWindow.document.write('<style type="text/css"> *, html {margin:2px;padding:0;} </style>');
        myWindow.document.write('</head><body>');
        myWindow.document.write(html);
        myWindow.document.write('</body></html>');
        myWindow.document.close();
        myWindow.onload = function () {
            myWindow.focus();
            myWindow.print();
            myWindow.close();
        };
    }
</script>

<script>
    var finalUrl = "";
    var MethodInfo = "";
    var MethodCapture = "";
    var CmbData1 = "";
    var CmbData2 = "";
    function discoverAvdm() {
        try {
            var primaryUrl = "http://127.0.0.1:";
            url = "";
            for (var i = 11100; i <= 11120; i++) {
                var err = "";
                var res;
                $.support.cors = true;
                var httpStaus = false;
                var jsonstr = "";
                var data = new Object();
                var obj = new Object();
                $.ajax({
                    type: "RDSERVICE",
                    async: false,
                    crossDomain: true,
                    url: primaryUrl + i.toString(),
                    contentType: "text/xml; charset=utf-8",
                    processData: false,
                    cache: false,
                    async: false,
                    crossDomain: true,
                    beforeSend: function () { StartLoading("Checking Device"); },
                    success: function (data) {
                        httpStaus = true;
                        res = { httpStaus: httpStaus, data: data };
                        finalUrl = primaryUrl + i.toString();
                        var $doc = $.parseXML(data);
                        if (typeof $($doc).find('Interface').eq(1).attr('path') !== "undefined" && $($doc).find('RDService').attr('status') !== "undefined" && $($doc).find('RDService').attr('info') !== "undefined") {
                            MethodCapture = $($doc).find('Interface').eq(1).attr('path');
                            CmbData1 = $($doc).find('RDService').attr('status');
                            CmbData2 = $($doc).find('RDService').attr('info');
                        }
                        $("#AVDMPort").val(i.toString());
                    },
                    error: function (jqXHR, ajaxOptions, thrownError) {
                        res = { httpStaus: httpStaus, err: getHttpError(jqXHR) };
                    },
                });
            }
            return res;
        } catch (e) {

        }
    }

    function CaptureMantra(serviceType) {
        try {
            
            $("#fvalue").val("");
            discoverAvdm();
            StartLoading("Capture your Finger");
            if (typeof CmbData1 !== "undefined") {
                if (CmbData1 != "NOTREADY") {
                    finalUrl = "http://127.0.0.1:" + $("#AVDMPort").val();
                    var XML = '<?xml version="1.0"?> <PidOptions ver="1.0"> <Opts fCount="1" fType="0" iCount="0" pCount="0" format="0" pidVer="2.0" timeout="10000" wadh="" posh="LEFT_INDEX" env="P" /> <CustOpts><Param name="mantrakey" value="" /></CustOpts> </PidOptions>';
                    //var XML ='<?xml version="1.0"?> <PidOptions ver="1.0"> <Opts fCount="1" fType="0" iCount="0" pCount="0" pgCount="2" format="0"   pidVer="2.0" timeout="10000" pTimeout="20000" posh="UNKNOWN" env="PP" /> <CustOpts><Param name="mantrakey" value="" /></CustOpts> </PidOptions>'
                    var res;
                    $.support.cors = true;
                    var httpStaus = false;
                    $.ajax({
                        type: "CAPTURE",
                        async: true,
                        crossDomain: true,
                        url: finalUrl + MethodCapture,
                        data: XML,
                        contentType: "text/xml; charset=utf-8",
                        processData: false,
                        success: function (data) {
                            httpStaus = true;
                            res = { httpStaus: httpStaus, data: data };
                            if (res.httpStaus == true) {
                                var $doc = $.parseXML(data);
                                if ($($doc).find('Resp').attr('errCode') == "0") {
                                    $('.PidData').val(data);
                                    StartLoading("Fetch");
                                    var url = "";
                                    var formData="";
                                    if (serviceType === "BE") {
                                        StartLoading("Loading Balance Enquiry");
                                        url = $("#form_balance_enq").attr("action");
                                        formData = $("#form_balance_enq").serialize()
                                    }
                                    else if (serviceType === "W") {
                                        StartLoading("Loading Cash Withdraw");
                                        url = $("#form_withdraw").attr("action");
                                        formData = $("#form_withdraw").serialize()
                                    }
                                    else if (serviceType === "M") {
                                        StartLoading("Loading MINI STATEMENT");
                                        url = $("#form_ministatement").attr("action");
                                        formData = $("#form_ministatement").serialize()
                                    }
                                    else if (serviceType === "AP") {
                                        StartLoading("Loading Aadhar Pay");
                                        url = $("#form_aadharpay").attr("action");
                                        formData = $("#form_aadharpay").serialize()
                                    }
                                    $.ajax({
                                        url: url,
                                        type: "POST",
                                        data: formData,
                                        success: function (data) {
                                            StopLoading();
                                            try {
                                                var checkError = data.errorMessage;
                                                if (typeof (checkError) !== "undefined") {
                                                    toastr.error(checkError, "Alert");
                                                    return false;
                                                }
                                                else {
                                                    $("#ack_section").html(data);
                                                    $("#mymodal").modal("show");
                                                }
                                            }
                                            catch (error) {
                                                $("#ack_section").html(data);
                                                $("#mymodal").modal("show");
                                            }
                                        },
                                        error: function (er) {
                                            StopLoading();
                                        }
                                    });
                                }
                                else {
                                    StopLoading();
                                    toastr.info($($doc).find('Resp').attr('errInfo'));
                                }
                            }
                            
                        },
                        error: function (jqXHR, ajaxOptions, thrownError) {
                            StopLoading();
                            toastr.error(thrownError);
                        },
                    });
                }
                else {
                    StopLoading();
                    toastr.info("Device is Not Ready");
                }
            }
            else {
                StopLoading();
                toastr.info("Please Connect Device");
            }
        }
        catch (e) {
            StopLoading();
            toastr.info(e);
        }
    }
</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
