@model PayInc_Customer_web.Areas.Reports.Models.PaymentReportModel  
@{
    ViewData["Title"] = "Payment Request Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form" method="post">
    <div class="card">
        <div class="card-body">
            <div class="form-group row">
                <div class="col-lg-4 col-md-9 col-sm-12">
                    <div class="input-group date">
                        <input type="text" class="form-control" name="FromDate" id="datepicker_1" value="@System.DateTime.Now.AddDays(-1).Date.ToString("MM-dd-yyyy")" placeholder="from date" readonly />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="la la-calendar"></i>
                            </span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-4 col-md-9 col-sm-12">
                    <div class="input-group date">
                        <input type="text" class="form-control" name="ToDate" id="datepicker_2" value="@System.DateTime.Now.Date.ToString("MM-dd-yyyy")" placeholder="from date" readonly />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="la la-calendar"></i>
                            </span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-4 col-md-9 col-sm-12">
                    <button type="submit" class="btn btn-primary mr-2">View Report</button>
                </div>
            </div>
        </div>
    </div>
</form>
@{ 
    var listReport = (List<PayInc_Customer_web.Areas.Reports.Models.PaymentReportRes>)ViewBag.PaymentReport;
}
<div class="mt-2">
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Bank</td>
                        <td>Mode</td>
                        <td>Branch Code</td>
                        <td>Branch</td>
                        <td>Trans ID</td>
                        <td>Deposit Date</td>
                        <td>Submit Date</td>
                        <td>Amount</td>
                        <td>Transferred Date</td>
                        <td>Customer Remarks</td>
                        <td>Process Remarks</td>
                        <td>Status</td>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.PaymentReport != null)
                    {
                        foreach (var item in listReport)
                        {
                            <tr>
                                <td>ICICI</td>
                                <td>@item.paymentModeName</td>
                                <td>@item.branchIFSCCode</td>
                                <td>malad</td>
                                <td></td>
                                <td>@item.loadDepositDate @item.loadDepositTime</td>
                                <td>@item.loadRequestedDate</td>
                                <td>₹ @item.loadAmount</td>
                                <td>@item.loadProcessedDate</td>
                                <td>@item.creditRemarks</td>
                                <td>@item.creditRemarks</td>
                                <td>
                                    @if (item.loadStatusDescription == "PENDING APPROVAL")
                                    {
                                        <span class="label label-warning label-dot mr-2"></span><span class="font-weight-bold text-warning">PENDING APPROVAL</span>
                                    }
                                    else
                                    {
                                        <span class="label label-primary label-dot mr-2"></span><span class="font-weight-bold text-primary">@item.loadStatusDescription</span>
                                    }

                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <td colspan="12">
                            <span class="text-center">@ViewData["ErrorMessage"]</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var arrows = {
        leftArrow: '<i class="la la-angle-left"></i>',
        rightArrow: '<i class="la la-angle-right"></i>'
    }
    $('#datepicker_1').datepicker({
        todayHighlight: true,
        orientation: "bottom left",
        format: 'mm-dd-yyyy',
        templates: arrows,
        autoclose: true,
    });
    $('#datepicker_2').datepicker({
        todayHighlight: true,
        orientation: "bottom left",
        format: 'mm-dd-yyyy',
        templates: arrows,
        autoclose: true,
    });
</script>