@model PayInc_Customer_web.Areas.Reports.Models.StockDistributionReq
@{
    ViewData["Title"] = "Stock Distribution";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form class="form" method="post">
    <div class="card">
        <div class="card-body">
            <div class="form-group row">
                <div class="col-lg-4 col-md-9 col-sm-12">
                    <div class="input-group date">
                        <input type="text" class="form-control" name="FromDate" id="datepicker_1" value="@System.DateTime.Now.Date.ToString("dd-MM-yyyy")"  placeholder="from date" readonly/>
                        @*@Html.TextBoxFor(m => m.FromDate, new { placeholder = "From Date", @class = "form-control", id = "datepicker_1", value = "12-12-2020", data_value = "12-12-2020" })*@
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="la la-calendar"></i>
                            </span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-4 col-md-9 col-sm-12">
                    <div class="input-group date">
                        <input type="text" class="form-control" name="ToDate" id="datepicker_2" value="@System.DateTime.Now.Date.ToString("dd-MM-yyyy")" placeholder="from date" readonly />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="la la-calendar"></i>
                            </span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-4 col-md-9 col-sm-12">
                    <button type="submit" class="btn btn-primary mr-2">View Report</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="mt-2">
    <div class="card">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td>Request ID</td>
                        <td>Amount</td>
                        <td>Bank Ref No</td>
                        <td>Deposit Date</td>
                        <td>Status</td>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.StockDistReport != null)
                    {

                        var listReport = (List<PayInc_Customer_web.Areas.Reports.Models.PaymentReportRes>)ViewBag.StockDistReport;

                        foreach (var item in listReport)
                        {
                            <tr>
                                <td>@item.lLoadRequestId</td>
                                <td>@item.loadAmount</td>
                                <td>@item.bankRefNo</td>
                                <td>@item.loadDepositDate</td>
                                <td><span class="text-success">@item.loadStatusDescription</span></td>
                            </tr>
                        }
                    }
                    <tr>
                        <td colspan="6">
                            <span class="text-center">@ViewData["ErrorMessage"]</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    var arrows = {
        leftArrow: '<i class="la la-angle-left"></i>',
        rightArrow: '<i class="la la-angle-right"></i>'
    }
    $('#datepicker_1').datepicker({
        todayHighlight: true,
        orientation: "bottom left",
        format: 'dd-mm-yyyy',
        templates: arrows,
        autoclose: true,
    });
    $('#datepicker_2').datepicker({
        todayHighlight: true,
        orientation: "bottom left",
        format: 'dd-mm-yyyy',
        templates: arrows,
        autoclose: true,
    });
    $('#datepicker_1').datepicker("setValue", '01/10/2014');

</script>
<partial name="_ValidationScriptsPartial">