@model List<PayInc_Customer_web.Areas.Reports.Models.GetNetworkPayment>
@{
    Layout = null;
}
@if (Model != null)
{
<table class="table table-bordered" id="tbl_ledger">
    <thead>
        <tr>
            <td>Customer Name</td>
            <td>Mobile Number</td>
            <td>Outlet Name</td>
            <td>Payment Received</td>
            <td>Payment Transfer</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.customerName</td>
                <td>@item.mobileNumber</td>
                <td>@item.outletName</td>
                <td>@item.paymentReceived</td>
                <td>@item.paymentTransfer</td>
            </tr>
        }

    </tbody>
</table>
}
else
{
    <div class="text-center">
        <div class="text-muted"><h3>Data not found.</h3></div>
    </div>
}
<script>
    $('#tbl_ledger').DataTable({
        responsive: true,
    });
    $("#tbl_ledger").on("click", ".btn_complaint", function () {
        $(this).addClass("spinner spinner-right spinner-white pr-15");
        var btn = $(this);
        var id = $(this).attr("data-id");
        $.ajax({
            url: '/Reports/ViewNetworkPayment/BookComplaint',
            type: "POST",
            data: { txnId: id },
            success: function (data) {
                $(".btn_complaint").removeClass("spinner spinner-right spinner-white pr-15");
                $(btn).attr("disabled", "disabled");
                $(btn).text("Booked.");
                Swal.fire(data, "", "success");
            },
            error: function (err) {
                $(".btn_complaint").removeClass("spinner spinner-right spinner-white pr-15");
                $(btn).attr("disabled", "disabled");
                Swal.fire("Alert!", "", "error");
            }
        });
    });
</script>
<style>
    .dataTables_length {
        display: none;
    }
</style>
