@model PayInc_Customer_web.Areas.PaymentManagement.Models.Acknowledgement
@{
    Layout = null;
}
@{
    var loginRes = new PayInc_Customer_web.Utility.SessionUtility().GetLoginSession();
}
<style>
    th {
        background-color: #f8f8f9;
    }
</style>
<table class="table table-bordered">
    <tbody>
        <tr>
            <td>
                <img src="~/assets/media/logos/logo_rnfi.png" style="width:150px;" />
            </td>
            <td class="text-right text-muted ml-5">
                <b>Agent Name:</b> @(loginRes.firstName+ " "+ loginRes.lastName )<br />
                <b>Mobile Number:</b> @loginRes.mobileNumber<br />
                @*<b>Address:</b> @(loginRes.Address ?? "NA")<br />*@
                <b>Reciept Date:</b> @System.DateTime.Now.ToString("dddd, dd MMMM yyyy HH:mm:ss")
            </td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Payment Request ID</th>
            <td>@Model.LoadRequestId</td>
        </tr>
        <tr>
            <th>Transaction ID</th>
            <td>@Model.LoadRequestId</td>
        </tr>
        <tr>
            <th>Bank Name</th>
            <td>@Model.BankName</td>
        </tr>
        <tr>
            <th>Bank RefNo</th>
            <td>@Model.BankRefNo</td>
        </tr>
        <tr>
            <th>Payment Amount</th>
            <td>Rs. @Model.LoadAmount</td>
        </tr>
        <tr>
            <th>Status</th>
            <td><span class="@(Model.Status==1 ? "text-success" : "text-danger")">@Model.StatusMessage</span></td>
        </tr>
    </tbody>
</table>