@model PayInc_Customer_web.Areas.OnBoarding.Models.ManualKYCModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Manual KYC</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" />
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    <link href="~/assets/css/pages/wizard/wizard-5.css" rel="stylesheet" type="text/css" />
    <script src="~/assets/js/pages/custom/wizard/wizard-5.js"></script>
    <script src="~/js/manual_kyc_wizard.js"></script>
  
</head>
<body>

    @if (ViewData["ErrorMessage"] == null)
    {
        <div class="card card-custom">
            <div class="card-body p-0">
                <h1 class="text-center m-5">
                    Manual On-Boarding Retailer Activation Form
                </h1>
                <div class="wizard wizard-5 d-flex flex-column flex-lg-row flex-row-fluid" id="kt_wizard">
                    <div class="wizard-aside bg-white d-flex flex-column flex-row-auto w-100 w-lg-300px w-xl-400px w-xxl-500px">
                        <div class="d-flex flex-column-fluid flex-column px-xxl-30 px-10">
                            <div class="wizard-nav d-flex d-flex justify-content-center pt-10 pt-lg-20 pb-5" style="pointer-events: none;">
                                <div class="wizard-steps">
                                    <div class="wizard-step" data-wizard-type="step" data-wizard-state="current" data-wizard-clickable="false">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">1</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title">Verify Mobile Number</h3>
                                                <div class="wizard-desc">Activation verification</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="wizard-step" data-wizard-type="step" data-wizard-clickable="false">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">2</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title">Verify PAN </h3>
                                                <div class="wizard-desc">Upload PAN CARD Image</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">3</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title">Address Proof</h3>
                                                <div class="wizard-desc">Upload Address Proof</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">4</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title">Basic Details</h3>
                                                <div class="wizard-desc">Basic Proof</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">5</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title">Verify Bank</h3>
                                                <div class="wizard-desc">Bank Proof</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">6</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title">Declaration</h3>
                                                <div class="wizard-desc">Terms and Condtions</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="wizard-step" data-wizard-type="step">
                                        <div class="wizard-wrapper">
                                            <div class="wizard-icon">
                                                <i class="wizard-check ki ki-check"></i>
                                                <span class="wizard-number">7</span>
                                            </div>
                                            <div class="wizard-label">
                                                <h3 class="wizard-title">Acknowledgement</h3>
                                                <div class="wizard-desc"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="wizard-content bg-gray-100 d-flex flex-column flex-row-fluid py-10 px-5 px-lg-10">
                        <div class="text-right mb-3">
                            <span class="font-weight-bold text-muted font-size-h5">Already having?</span>
                            <a href="/Login" class="font-weight-bolder text-primary font-size-h4" id="kt_login_signup">Login Here</a>
                        </div>
                        <div class="justify-content-center pl-20 pr-20">
                            <form class="form" action="@Url.Action("VerifyMobileNumber","ManualForm")" method="post" id="form_verify_mobile">
                                <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                    <div class="pb-10 pb-lg-15">
                                        <h3 class="font-weight-bolder text-dark font-size-h2">Start On-Boarding - Verify Mobile Number</h3>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">Mobile Number</label>
                                        <label class="form-control h-auto p-5 border-0 rounded-lg font-size-h6">@ViewData["BoardedMobile"]</label>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">Name</label>
                                        <label class="form-control h-auto p-5 border-0 rounded-lg font-size-h6">@ViewData["BoardedName"]</label>
                                    </div>
                                    <div class="d-flex justify-content-between pt-3">
                                        <div class="mr-2">
                                            <button type="button" class="btn btn-light-primary font-weight-bolder font-size-h6 pl-6 pr-8 py-4 my-3 mr-3" data-wizard-type="action-prev">
                                                <span class="svg-icon svg-icon-md mr-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                            <rect fill="#000000" opacity="0.3" transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000)" x="14" y="7" width="2" height="10" rx="1" />
                                                            <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)" />
                                                        </g>
                                                    </svg>
                                                </span>Previous
                                            </button>
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3" id="btn_verify_mobile">
                                                Next Step
                                                <span class="svg-icon svg-icon-md ml-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                            <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                            <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                        </g>
                                                    </svg>
                                                </span>
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </form>


                            <form id="form_upload_pan_verify" class="form" action="@Url.Action("SubmitPAN","ManualForm")" method="post" enctype="multipart/form-data">
                                <div class="pb-5" data-wizard-type="step-content">
                                    <div class="pb-10 pb-lg-15">
                                        <h3 class="font-weight-bolder text-dark font-size-h2">Upload PAN</h3>
                                    </div>
                                    <section id="upload_section">
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3 col-sm-12 text-lg-right">Upload Front PAN</label>
                                            <div class="col-lg-4 col-md-9 col-sm-12">
                                                <div class="dropzone dropzone-default" id="kt_dropzone_1">
                                                    <div class="dropzone-msg dz-message needsclick">
                                                        <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                                        <span class="dropzone-msg-desc">
                                                            PAN Upload
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3 col-sm-12 text-lg-right"></label>
                                            <div class="col-lg-4 col-md-9 col-sm-12">
                                                <a id="btn_fetch_pan" class="btn btn-block btn-success font-weight-bolder">
                                                    Upload and Verify PAN Details
                                                </a>
                                            </div>
                                        </div>
                                    </section>
                                    <section id="pan_fetch_section" style="display:none">
                                        <div class="form-group">
                                            <label class="font-size-h6 font-weight-bolder text-dark">Your PAN matched. [Name: <span id="lblNamePercent"></span>%, PAN Number: <span id="lblPANPercent"></span>%, FatherName: <span id="lblFNamePercent"></span>%] </label>
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">100%</div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="font-size-h6 font-weight-bolder text-dark">PAN CARD Number</label>
                                            <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" readonly name="pancard" placeholder="Enter your PAN Number" id="txtfetchPanNumber" />
                                        </div>
                                        <div class="form-group">
                                            <label class="font-size-h6 font-weight-bolder text-dark">Full Name</label>
                                            <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" readonly name="pancard" placeholder="Enter your Full Name" id="txtPanFullName" />
                                        </div>
                                        <div class="form-group">
                                            <label class="font-size-h6 font-weight-bolder text-dark">Father Name</label>
                                            <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" readonly name="pancard" placeholder="Enter your Father Name" id="txtPanFatherName" />
                                        </div>
                                        <div class="form-group">
                                            <label class="font-size-h6 font-weight-bolder text-dark">Date Of Birth</label>
                                            <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" readonly name="pancard" placeholder="DD/MM/YYYY" id="txtPanDOB" />
                                        </div>
                                        <div class="d-flex justify-content-between pt-3">
                                            <div>
                                                <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3" id="btn_upload_pan">
                                                    Next Step
                                                    <span class="svg-icon svg-icon-md ml-1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                                <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                                <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                            </g>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </form>


                            <form id="form_address" class="form" action="@Url.Action("SubmitAddressProof","ManualForm")" method="post">
                                <div class="pb-5" data-wizard-type="step-content">
                                    <div class="pb-10 pb-lg-15">
                                        <h3 class="font-weight-bolder text-dark font-size-h2">Address Proof</h3>
                                        <div class="text-muted font-weight-bold font-size-h4">Voter ID and Driving Licence</div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3 col-form-label">Address Proof</label>
                                        <div class="col-9 col-form-label">
                                            <div class="radio-inline">
                                                <label class="radio radio-primary">
                                                    <input type="radio" name="rdbaddress" value="1" disabled />
                                                    <span></span>
                                                    Voter ID
                                                </label>
                                                <label class="radio radio-primary">
                                                    <input type="radio" name="rdbaddress" value="2" checked="checked" />
                                                    <span></span>
                                                    Driving License
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <section id="dl_section">
                                        <div class="form-group">
                                            <label class="font-size-h6 font-weight-bolder text-dark">DL Number</label>
                                            @Html.TextBoxFor(m => m.DLNumber, new { @class = "form-control h-auto p-5 border-0 rounded-lg font-size-h6", id = "txtdlnumber", placeholder = "Enter your Driving License Number" })
                                            @Html.ValidationMessageFor(m => m.DLNumber, "", new { @class = "text-danger" })
                                            @*  <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="dlnumber" id="txtdlnumber" placeholder="Enter your Driving License Number" value="" />*@
                                        </div>
                                        <div class="form-group">
                                            <label for="example-date-input" class="font-size-h6 font-weight-bolder text-dark">Date of Birth</label>
                                            @Html.TextBoxFor(m => m.DLDOB, new { @class = "form-control h-auto p-5 border-0 rounded-lg font-size-h6", id = "dl_dob", value = "07-07-1982", placeholder = "MM/DD/YYYY" })
                                            @Html.ValidationMessageFor(m => m.DLDOB, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3 col-sm-12 text-lg-right">Upload Driving Licence</label>
                                            <div class="col-lg-4 col-md-9 col-sm-12">
                                                <div class="dropzone dropzone-default" id="kt_dropzone_4">
                                                    <div class="dropzone-msg dz-message needsclick">
                                                        <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                                        <span class="dropzone-msg-desc">
                                                            Driving Licence Upload
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3 col-sm-12 text-lg-right"></label>
                                            <div class="col-lg-4 col-md-9 col-sm-12">
                                                <a href="javascript:;" id="btn_fetch_dl" class="btn btn-block btn-success font-weight-bolder">
                                                    Upload Fetch Driving Licensce
                                                </a>
                                            </div>
                                        </div>

                                    </section>
                                    <section id="dl_fetch_form" style="display:none">
                                        <div class="form-group">
                                            <label class="font-size-h6 font-weight-bolder text-dark">DL Number</label>
                                            <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="dlnumber" id="txtFetchDLNo" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label class="font-size-h6 font-weight-bolder text-dark">Name</label>
                                            <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="dlnumber" id="txtFetchDLName" readonly />
                                        </div>

                                        <div class="form-group">
                                            <label class="font-size-h6 font-weight-bolder text-dark">Address</label>
                                            <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="dlAddress" id="txtFetchAddress" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label class="font-size-h6 font-weight-bolder text-dark">City</label>
                                            <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="dlCity" id="txtFetchCity" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label class="font-size-h6 font-weight-bolder text-dark">State</label>
                                            <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="dlState" id="txtFetchState" readonly />
                                        </div>
                                        <div class="form-group">
                                            <label class="font-size-h6 font-weight-bolder text-dark">Pincode</label>
                                            <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="dlPinCode" id="txtFetchPinCode" readonly />
                                        </div>
                                        <div class="d-flex justify-content-between pt-3">
                                            <div>
                                                <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3" id="btn_upld_address">
                                                    Next Step
                                                    <span class="svg-icon svg-icon-md ml-1">
                                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <polygon points="0 0 24 0 24 24 0 24" />
                                                                <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                                <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                            </g>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </section>
                                    <section id="voter_section" style="display:none;">
                                        <div class="form-group">
                                            <label class="font-size-h6 font-weight-bolder text-dark">Voter ID Number</label>
                                            <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="firstname" placeholder="Enter your Voter ID Number" />
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3 col-sm-12 text-lg-right">Upload Front Voter ID</label>
                                            <div class="col-lg-4 col-md-9 col-sm-12">
                                                <div class="dropzone dropzone-default" id="kt_dropzone_2">
                                                    <div class="dropzone-msg dz-message needsclick">
                                                        <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                                        <span class="dropzone-msg-desc">
                                                            Front Voter ID Card Upload
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3 col-sm-12 text-lg-right">Upload Back Voter ID</label>
                                            <div class="col-lg-4 col-md-9 col-sm-12">
                                                <div class="dropzone dropzone-default" id="kt_dropzone_3">
                                                    <div class="dropzone-msg dz-message needsclick">
                                                        <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                                        <span class="dropzone-msg-desc">
                                                            Back Voter ID Card Upload
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-form-label col-lg-3 col-sm-12 text-lg-right"></label>
                                            <div class="col-lg-4 col-md-9 col-sm-12">
                                                <a id="btn_fetch_voterId" class="btn btn-block btn-success font-weight-bolder">
                                                    Fetch Voter ID Details
                                                </a>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </form>


                            <div data-wizard-type="step-content">
                                <div class="pb-10 pb-lg-15">
                                    <h3 class="font-weight-bolder text-dark font-size-h2">Basic Details</h3>
                                    <div class="text-muted font-weight-bold font-size-h4">Personal details</div>
                                </div>
                                <div class="accordion accordion-toggle-arrow" id="accordionExample4">
                                    <div class="card">
                                        <div class="bg-white card-header" id="headingOne4">
                                            <div class="card-title" data-toggle="collapse" data-target="#collapseOne4">
                                                <i class="flaticon2-layers-1"></i> Personal Details
                                            </div>
                                        </div>
                                        <div id="collapseOne4" class=" collapse show" data-parent="#accordionExample4">
                                            <form method="post" id="form_personal_details">
                                                <div class="pl-5 pr-5">
                                                    <div class="form-group">
                                                        <label class="font-weight-bolder text-dark">Name:</label>
                                                        <input type="text" class="form-control h-auto p-5 border-1 rounded-lg" name="firstname" readonly placeholder="Enter Name" id="txtBasicName" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bolder text-dark">Father Name:</label>
                                                        <input type="text" class="form-control h-auto p-5 border-1 rounded-lg" name="fathername" readonly placeholder="Enter Father Name" id="txtBasicFatherName" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bolder text-dark">Date of Birth:</label>
                                                        <input type="text" class="form-control h-auto p-5 border-1 rounded-lg" name="firstname" readonly placeholder="Enter date of birth" id="txtBasicDateOfBirth" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bolder text-dark">Mobile Number</label>
                                                        <input type="text" class="form-control h-auto p-5 border-1 rounded-lg" name="firstname" readonly placeholder="Enter Mobile Number" id="txtBasicMobileNumber" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bolder text-dark">Email Address</label>
                                                        @Html.TextBoxFor(m => m.EmailAddress, null, new { @class = "form-control h-auto p-5 border-1 rounded-lg", placeholder = "Enter Email Address" })
                                                        @Html.ValidationMessageFor(m => m.EmailAddress, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">Gender</label>
                                                            @Html.DropDownListFor(m => m.Gender, new List<SelectListItem> {
                                                            new SelectListItem{ Value="1~Male", Text="Male"},
                                                            new SelectListItem{ Value="2~Female", Text="Female"}
                                                            }, "-- Select Gender --", new { @class = "form-control h-auto p-5 border-1 rounded-lg" })
                                                            @Html.ValidationMessageFor(m => m.Gender, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">Maritial Status</label>
                                                            @Html.DropDownListFor(m => m.MaritialStatus, new List<SelectListItem> {
                                                            new SelectListItem{ Value="1~Single", Text="Single"},
                                                            new SelectListItem{ Value="2~MARRIED", Text="MARRIED"},
                                                            new SelectListItem{ Value="3~SEPARATED", Text="SEPARATED"},
                                                            }, "-- Select Maritial Status --", new { @class = "form-control h-auto p-5 border-1 rounded-lg" })
                                                            @Html.ValidationMessageFor(m => m.MaritialStatus, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">Caste Category</label>
                                                            @Html.DropDownListFor(m => m.Caste, new List<SelectListItem> {
                                                            new SelectListItem{ Value="General", Text="General"},
                                                            new SelectListItem{ Value="SC/ST", Text="SC/ST"},
                                                            new SelectListItem{ Value="OBC", Text="OBC"},
                                                            }, "-- Select Caste --", new { @class = "form-control h-auto p-5 border-1 rounded-lg" })
                                                            @Html.ValidationMessageFor(m => m.Caste, "", new { @class = "text-danger" })
                                                        </div>
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">Educational Qualification</label>
                                                            @Html.DropDownListFor(m => m.EducationalQualification, new List<SelectListItem> {
                                                           new SelectListItem{ Value="SSC", Text="SSC"},
                                                           new SelectListItem{ Value="HSC", Text="HSC"},
                                                           new SelectListItem{ Value="Graduate", Text="Graduate"},
                                                           new SelectListItem{ Value="Post-Graduate", Text="Post-Graduate"},
                                                           }, "-- Select Education --", new { @class = "form-control h-auto p-5 border-1 rounded-lg" })
                                                            @Html.ValidationMessageFor(m => m.EducationalQualification, "", new { @class = "text-danger" })

                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">Mobile Operator</label>
                                                            <select class="form-control h-auto p-5 border-1 rounded-lg" name="MobileOperator">
                                                                <option>-- Select Mobile Operator --</option>
                                                                <option value="Vodafone/Idea">Vodafone/Idea</option>
                                                                <option value="JIO">JIO</option>
                                                                <option value="Airtel">Airtel</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">Physically Disabled</label>
                                                            <select class="form-control h-auto p-5 border-1 rounded-lg" name="IsPhysicallyDisabled">
                                                                <option>-- Select --</option>
                                                                <option value="Yes">Yes</option>
                                                                <option value="No">No</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">Occupation Type</label>
                                                            <select class="form-control h-auto p-5 border-1 rounded-lg" name="OccupationType">
                                                                <option>-- Select --</option>
                                                                <option value="Public Sector">Public Sector</option>
                                                                <option value="Private Sector">Private Sector</option>
                                                                <option value="Self Employed">Self Employed</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">Entity Type</label>
                                                            <select class="form-control h-auto p-5 border-1 rounded-lg" name="EntityType">
                                                                <option>-- Select --</option>
                                                                <option value="Individual">Individual</option>
                                                                <option value="Sole Properitor ship">Sole Properitor ship</option>
                                                                <option value="Partnership firm">Partnership firm</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-4">
                                                            <a href="javascript:;" id="btn_personal_det" class="btn btn-block btn-primary collapsed">Next</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="bg-white card-header" id="headingTwo4">
                                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo4">
                                                <i class="flaticon2-copy"></i> Address Proof
                                            </div>
                                        </div>
                                        <div id="collapseTwo4" class="collapse" data-parent="#accordionExample4">
                                            <form method="post" id="form_address_panel">
                                                <div class="pl-5 pr-5">
                                                    <div class="form-group">
                                                        <label class="font-weight-bolder text-dark">Address</label>
                                                        <input type="text" class="form-control h-auto p-5 border-1 rounded-lg" name="address" readonly placeholder="Enter Address" id="txtBasicAddress" />
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">State</label>
                                                            <input type="text" class="form-control h-auto p-5 border-1 rounded-lg" name="state" readonly placeholder="Enter State" id="txtBasicState" />
                                                        </div>
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">City</label>
                                                            <input type="text" class="form-control h-auto p-5 border-1 rounded-lg" name="city" readonly placeholder="Enter City" id="txtBasicCity" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">District</label>
                                                            <input type="text" class="form-control h-auto p-5 border-1 rounded-lg" name="district" placeholder="Enter District" id="txtBasicDist" />

                                                        </div>
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">Landmark</label>
                                                            @Html.TextBoxFor(m => m.landmark, null, new { @class = "form-control h-auto p-5 border-1 rounded-lg", placeholder = "Enter Landmark", id = "txtBasicLandmark" })
                                                            @Html.ValidationMessageFor(m => m.landmark, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group" id="pincode_div">
                                                        <label class="font-weight-bolder text-dark">Pincode</label>
                                                        @Html.TextBoxFor(m => m.pincode, null, new { @class = "form-control h-auto p-5 border-1 rounded-lg", placeholder = "Enter Pincode", id = "txtBasicPinCode" })
                                                        @Html.ValidationMessageFor(m => m.pincode, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bolder text-dark">Area</label>
                                                        @Html.DropDownListFor(m => m.areaId, new List<SelectListItem> {
                                                           new SelectListItem{ Value="", Text="--Select Area"} }, new { @class = "form-control h-auto p-5 border-1 rounded-lg", id = "ddlBasicArea" })
                                                        @Html.ValidationMessageFor(m => m.areaId, "", new { @class = "text-danger", id="lbl_pincode_validation" })
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-4">
                                                            <a href="javascript:;" id="btn_address_det" class="btn btn-block btn-primary collapsed">Next</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="bg-white card-header" id="headingThree4">
                                            <div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree4">
                                                <i class="flaticon2-bell-alarm-symbol"></i> Outlet Details
                                            </div>
                                        </div>
                                        <div id="collapseThree4" class="collapse" data-parent="#accordionExample4">
                                            <form id="form_basic_details" action="@Url.Action("BasicDetails","ManualForm")" method="post">
                                                <div class="pl-5 pr-5">
                                                    <div class="form-group">
                                                        <label class="checkbox">
                                                            <input type="checkbox" name="Checkboxes1" id="chk_same_address" />
                                                            <span></span>
                                                            &nbsp; Same as Address Proof
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bolder text-dark">Firm Name</label>
                                                        <input type="text" class="form-control h-auto p-5 border-1 rounded-lg" name="firmname" placeholder="Enter Firm Name" id="txFirmName" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bolder text-dark">Firm Address</label>
                                                        <input type="text" class="form-control h-auto p-5 border-1 rounded-lg" name="firmaddress" placeholder="Enter Address" id="txtOutletAddress" />
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">State</label>
                                                            <input type="text" class="form-control h-auto p-5 border-1 rounded-lg" name="firmstate" placeholder="Enter State" id="txtOutletState" />
                                                        </div>
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">City</label>
                                                            <input type="text" class="form-control h-auto p-5 border-1 rounded-lg" name="firmcity" placeholder="Enter City" id="txtOutletCity" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">District</label>
                                                            <input type="text" class="form-control h-auto p-5 border-1 rounded-lg" name="firmdist" placeholder="Enter District" id="txtOutletDistrict" />
                                                        </div>
                                                        <div class="col-6">
                                                            <label class="font-weight-bolder text-dark">Landmark</label>
                                                            @Html.TextBoxFor(m => m.firmLandmark, null, new { @class = "form-control h-auto p-5 border-1 rounded-lg", placeholder = "Enter Landmark", id = "txtOutletLandmark" })
                                                            @Html.ValidationMessageFor(m => m.firmLandmark, "", new { @class = "text-danger" })
                                                            @*<input type="text" class="form-control h-auto p-5 border-1 rounded-lg" name="firmLandmark" placeholder="Enter Landmark" id="txtOutletLandmark" />*@
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="font-weight-bolder text-dark">Pincode</label>
                                                        @Html.TextBoxFor(m => m.firmPinCode, null, new { @class = "form-control h-auto p-5 border-1 rounded-lg", placeholder = "Enter Pin Code", id = "txtOutletPinCode" })
                                                        @Html.ValidationMessageFor(m => m.firmPinCode, "", new { @class = "text-danger" })
                                                        @*<input type="text" class="form-control h-auto p-5 border-1 rounded-lg" name="firmPinCode" placeholder="Enter Pincode" id="txtOutletPinCode" />*@
                                                    </div>
                                                    <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3" id="btn_basic_details">
                                                        Next Step
                                                        <span class="svg-icon svg-icon-md ml-1">
                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                    <polygon points="0 0 24 0 24 24 0 24" />
                                                                    <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                                    <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                                </g>
                                                            </svg>
                                                        </span>
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pb-5" data-wizard-type="step-content">
                                <form id="form_bankdetails" action="@Url.Action("BankDetails","ManualForm")">
                                    <div class="pb-10 pb-lg-15">
                                        <h3 class="font-weight-bolder text-dark font-size-h2">Bank Details</h3>
                                        <div class="text-muted font-weight-bold font-size-h4">Account Number and Banks </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">Bank Name</label>
                                        <div class="col-12">
                                            @Html.DropDownList("ddlBank", new List<SelectListItem> { new SelectListItem { Text = "Loading Bank" } }, new { @class = "form-control searchable-dropdown h-auto p-5 border-0 rounded-lg font-size-h6", style = "width:100%" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">Account Number</label>
                                        <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="bankaccount" placeholder="Enter Account Number" />
                                    </div>
                                    <div class="form-group">
                                        <label class="font-size-h6 font-weight-bolder text-dark">IFSC Code</label>
                                        <input type="text" class="form-control h-auto p-5 border-0 rounded-lg font-size-h6" name="bankifsccode" placeholder="Enter IFSC Code" />
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-form-label col-lg-3 col-sm-12 text-lg-right">Upload Cancelled Cheque</label>
                                        <div class="col-lg-4 col-md-9 col-sm-12">
                                            <div class="dropzone dropzone-default" id="kt_dropzone_5">
                                                <div class="dropzone-msg dz-message needsclick">
                                                    <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                                    <span class="dropzone-msg-desc">
                                                        Cancelled Cheque Upload
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-between pt-3">
                                        <div>
                                            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3" id="btn_bankdetails">
                                                Next Step
                                                <span class="svg-icon svg-icon-md ml-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                            <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                            <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                        </g>
                                                    </svg>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <div class="pb-5" data-wizard-type="step-content">
                                <div id="panel_all_details" class="card">

                                </div>
                                <div class="d-flex justify-content-between pt-3">
                                    <div>
                                        <button type="button" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3" data-wizard-type="action-next">
                                            Next Step
                                            <span class="svg-icon svg-icon-md ml-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <polygon points="0 0 24 0 24 24 0 24" />
                                                        <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                        <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                    </g>
                                                </svg>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="pb-5" data-wizard-type="step-content">
                                <form action="@Url.Action("VideoVerification","ManualForm")" id="form_video_verification">
                                    <div class="card" data-scroll="true" data-height="300">
                                        Website Terms and Conditions [Text Format]
                                        Last updated [month day, year]

                                        AGREEMENT TO TERMS

                                        These Terms and Conditions constitute a legally binding agreement made between you, whether personally or on behalf of an entity (“you”) and [business entity name] (“we,” “us” or “our”), concerning your access to and use of the [website name.com] website as well as any other media form, media channel, mobile website or mobile application related, linked, or otherwise connected thereto (collectively, the “Site”).

                                        You agree that by accessing the Site, you have read, understood, and agree to be bound by all of these Terms and Conditions. If you do not agree with all of these Terms and Conditions, then you are expressly prohibited from using the Site and you must discontinue use immediately.

                                        Supplemental terms and conditions or documents that may be posted on the Site from time to time are hereby expressly incorporated herein by reference. We reserve the right, in our sole discretion, to make changes or modifications to these Terms and Conditions at any time and for any reason.

                                        We will alert you about any changes by updating the “Last updated” date of these Terms and Conditions, and you waive any right to receive specific notice of each such change.

                                        It is your responsibility to periodically review these Terms and Conditions to stay informed of updates. You will be subject to, and will be deemed to have been made aware of and to have accepted, the changes in any revised Terms and Conditions by your continued use of the Site after the date such revised Terms and Conditions are posted.

                                        The information provided on the Site is not intended for distribution to or use by any person or entity in any jurisdiction or country where such distribution or use would be contrary to law or regulation or which would subject us to any registration requirement within such jurisdiction or country.

                                        Accordingly, those persons who choose to access the Site from other locations do so on their own initiative and are solely responsible for compliance with local laws, if and to the extent local laws are applicable.

                                        These terms and conditions were generated by Termly’s Terms and Conditions Generator.

                                        Option 1: The Site is intended for users who are at least 18 years old. Persons under the age of 18 are not permitted to register for the Site.

                                        Option 2: [The Site is intended for users who are at least 13 years of age.] All users who are minors in the jurisdiction in which they reside (generally under the age of 18) must have the permission of, and be directly supervised by, their parent or guardian to use the Site. If you are a minor, you must have your parent or guardian read and agree to these Terms and Conditions prior to you using the Site.
                                    </div>

                                    <label class="radio radio-primary">
                                        <input type="radio" name="rdbdeclaration" value="1" checked="checked" />
                                        <span></span>
                                        I here by declared that, all provided document is correct proof.
                                    </label>
                                    <div class="d-flex justify-content-between pt-3">
                                        <div>
                                            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3" id="btn_verify_video">
                                                Verify Video
                                                <span class="svg-icon svg-icon-md ml-1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                            <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                            <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                        </g>
                                                    </svg>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="pb-5" data-wizard-type="step-content">
                                <!--begin::Title-->
                                <h3>Your On Boarding Process in Verfication</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end::Card Body-->
        </div>
        <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
        <!--begin::Global Config(global config for global JS scripts)-->
        <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };</script>
        <script src="~/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/assets/js/pages/crud/file-upload/dropzonejs.js"></script>
        <script>
            $(document).ready(function () {
                $(".searchable-dropdown").select2();
            });
        </script>
        <div class="modal fade" id="pan_dl_comp_modal" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Comparison PAN vs Driving License</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i aria-hidden="true" class="ki ki-close"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <td>PAN Details</td>
                                        <td>DL Details</td>
                                        <td>Status</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label id="lbl_match_panname">NA</label></td>
                                        <td><label id="lbl_match_dlname">NA</label></td>
                                        <td><label id="lbl_match_percentage">0</label>%</td>
                                    </tr>
                                    @*<tr>
                                            <td>
                                                <div class="thumbnail">
                                                    <img src="~/assets/media/users/default.jpg" alt="Lights" id="imgKYC1" style="width:140px;height:140px;">
                                                    <div class="caption">
                                                        <p>PAN CARD PHOTO</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="thumbnail">
                                                    <img src="~/assets/media/users/default.jpg" alt="Lights" id="imgKYC2" style="width:140px;height:140px;">
                                                    <div class="caption">
                                                        <p>Driving License PHOTO</p>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><label id="lbl_face_match_percent">0</label>%</td>
                                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var arrows = {
                leftArrow: '<i class="la la-angle-left"></i>',
                rightArrow: '<i class="la la-angle-right"></i>'
            }
            $('#dl_dob').datepicker({
                todayHighlight: true,
                orientation: "bottom left",
                format: 'mm-dd-yyyy',
                templates: arrows,
                autoclose: true,
            });
        </script>
    }
    else
    {
        <div class="card card-custom">
            <div class="card-body p-0">
                <h1 class="text-center m-5">
                    @ViewData["ErrorMessage"]
                </h1>
            </div>
        </div>
    }
</body>
</html>
