
@{
    ViewData["Title"] = "Prepaid Mobile Recharge";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var result = HttpContextAccessor.HttpContext.Session.GetString("LoginDetails");
    var obj = Newtonsoft.Json.JsonConvert.DeserializeObject<PayInc_Customer_web.Models.LoginResData>(result);
}


<link href="~/assets/css/pages/wizard/wizard-4.css" rel="stylesheet" />
<div class="card card-custom card-transparent">
    <div class="card-body p-0">
        <!--begin::Wizard-->
        <div class="wizard wizard-4" id="kt_wizard" data-wizard-state="step-first" data-wizard-clickable="true">
            <!--begin::Wizard Nav-->
            <div class="wizard-nav">
                <div class="wizard-steps">
                    <div class="wizard-step" data-wizard-type="step" data-wizard-state="current">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">1</div>
                            <div class="wizard-label">
                                <div class="wizard-title">Mobile Number</div>

                            </div>
                        </div>
                    </div>
                    <div class="wizard-step" data-wizard-type="step">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">2</div>
                            <div class="wizard-label">
                                <div class="wizard-title">Operator</div>
                                <div class="wizard-desc">Select operator</div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-step" data-wizard-type="step">
                        <div class="wizard-wrapper">
                            <div class="wizard-number">4</div>
                            <div class="wizard-label">
                                <div class="wizard-title">Receipt</div>
                                <div class="wizard-desc">Transaction Receipt</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card card-custom card-shadowless rounded-top-0">
                <!--begin::Body-->
                <div class="card-body p-0">
                    <div class="row justify-content-center py-8 px-8 py-lg-15 px-lg-10">
                        <div class="col-xl-12 col-xxl-10">
                            <!--begin::Wizard Form-->
                            <form class="form" id="kt_form">
                                <div class="row justify-content-center">
                                    <div class="col-xl-12">
                                        <div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Mobile Number</label>
                                                        <input type="text" class="form-control" name="mobilenumber" placeholder="Enter Mobile Number" id="txtMobileNo" maxlength="10" autocomplete="off" autofocus />
                                                    </div>
                                                </div>
                                                <div class="col-6">

                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between border-top pt-10 mt-15">
                                                <div class="mr-2">
                                                    <button type="button" class="btn btn-light-primary font-weight-bolder px-9 py-4 prev-step" data-wizard-type="action-prev">Previous</button>
                                                </div>
                                                <div>
                                                    <button type="button" id="btn_step1" class="btn btn-primary font-weight-bolder px-9 py-4">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pb-5" data-wizard-type="step-content">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Mobile Number</label>
                                                        <input type="text" class="form-control form-control-solid" name="mobilenumbers" maxlength="10" id="txtShowMobileNo" readonly />
                                                    </div>
                                                    @{
                                                        var list = new List<PayInc_Customer_web.Areas.Recharge.Models.OperatorResponse>();
                                                        if (ViewBag.Operator != null)
                                                        {
                                                            list = (List<PayInc_Customer_web.Areas.Recharge.Models.OperatorResponse>)ViewBag.Operator;
                                                        }
                                                    }
                                                    <div class="form-group">
                                                        <label>Operator</label>
                                                        <select name="operator" id="ddlOperator" class="form-control">
                                                            <option value="">Select Operator</option>
                                                            @foreach (var item in list)
                                                            {
                                                                <option value="@item.serviceProviderId">@item.serviceProviderName</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Amount</label>
                                                        <input type="text" class="form-control" name="amount" placeholder="Enter Amount" id="txtamount" />
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <section id="plan_panel">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div id="viewplan_panel"  data-scroll="true" data-height="300" class="d-flex justify-content-center">
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between border-top pt-10 mt-15">
                                                <div class="mr-2">
                                                    <button type="button" class="btn btn-light-primary font-weight-bolder px-9 py-4 prev-step" data-wizard-type="action-prev">Previous</button>
                                                </div>
                                                <div>
                                                    <button type="button" id="enter_tpin" class="btn btn-primary font-weight-bolder px-9 py-4">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pb-5" data-wizard-type="step-content">
                                            <h4 class="mb-10 font-weight-bold text-dark text-center">Transaction Receipt</h4>
                                            <div class="my-5">
                                                <div class="card card-custom overflow-hidden">
                                                    <div class="card-body p-0">

                                                        <div class="row justify-content-center bgi-size-cover bgi-no-repeat py-8 px-8 py-md-27 px-md-0" style="background-image: url(../../assets/media/bg/bg-6.jpg);">
                                                            <div class="col-md-9">
                                                                <div class="d-flex justify-content-between pb-5 pb-md-5 flex-column flex-md-row">
                                                                    <h2 class="display-4 text-white font-weight-boldest mb-10">PayINC<sup>TM</sup></h2>
                                                                    <span class="text-white d-flex flex-column align-items-md-end">
                                                                        <span class="font-size-h3">Invoice Receipt</span>
                                                                    </span>
                                                                    <div class="d-flex flex-column align-items-md-end px-0">
                                                                        <!--begin::Logo-->
                                                                        <a href="#" class="text-center text-white text-uppercase mb-5">
                                                                            @(obj.firstName+ " "+obj.lastName )
                                                                        </a>
                                                                        <!--end::Logo-->
                                                                        <span class="text-white d-flex flex-column align-items-md-end">
                                                                            <span>@obj.mobileNumber</span>
                                                                            <span>@obj.Address</span>
                                                                            <span>@System.DateTime.Now</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="border-bottom w-100 opacity-20"></div>
                                                            </div>
                                                        </div>

                                                        <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                                                            <div class="col-md-9">
                                                                <div class="table-responsive">
                                                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="pl-0 font-weight-bold text-muted text-uppercase">Operator</th>
                                                                                <th class="text-right font-weight-bold text-muted text-uppercase">Transaction Id</th>
                                                                                <th class="text-right font-weight-bold text-muted text-uppercase">Status</th>
                                                                                <th class="text-right pr-0 font-weight-bold text-muted text-uppercase">Amount</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr class="font-weight-boldest font-size-lg">
                                                                                <td class="pl-0 pt-7">Airtel</td>
                                                                                <td class="text-right pt-7">98798716546</td>
                                                                                <td class="text-right pt-7"><span class="badge badge-success text-white">Success</span></td>
                                                                                <td class="text-danger pr-0 pt-7 text-right">₹ 40.00</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row justify-content-right bg-gray-100 py-8 px-8 py-md-10 px-md-0">
                                                            <div class="col-md-10">
                                                                <div class="font-size-lg">
                                                                    <div class="d-flex dt-right flex-column text-md-right">
                                                                        <span class="font-size-lg font-weight-bolder mb-1">TOTAL AMOUNT</span>
                                                                        <span class="font-size-h2 font-weight-boldest text-danger mb-1">₹ 40.00</span>
                                                                        <span>Taxes Included</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                                                            <div class="col-md-9">
                                                                <div class="d-flex justify-content-between">
                                                                    <button type="button" class="btn btn-light-primary font-weight-bold" onclick="PrintElem();">Download Invoice</button>
                                                                    <button type="button" class="btn btn-primary font-weight-bold" id="print_receipt" onclick="PrintElem();">Print Invoice</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="hidden_recipt" style="display:none">                    
                                                    <center>
                                                        PAY INC
                                                    </center>
                                                    <center>
                                                        @(obj.firstName+ " "+obj.lastName )<br />
                                                        @obj.mobileNumber<br />
                                                        @obj.Address<br />
                                                        @System.DateTime.Now
                                                    </center>
                                                    <center>
                                                        <table style="width:80%;">
                                                            <thead style="border:dashed;">
                                                                <tr>
                                                                    <td style="border:dashed;">
                                                                        Operator
                                                                    </td>
                                                                    <td style="border:dashed;">
                                                                        TransactionID
                                                                    </td>
                                                                    <td style="border:dashed;">
                                                                        Amount
                                                                    </td>
                                                                    <td style="border:dashed;">
                                                                        Status
                                                                    </td>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td style="border:dashed;">Airtel</td>
                                                                    <td style="border:dashed;">98798716546</td>
                                                                    <td style="border:dashed;">Success</td>
                                                                    <td style="border:dashed;">₹ 40.00</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </center>
                                                    <center>
                                                        ** MINI Pritable Receipt **<br />
                                                        ** THANK YOU VISIT AGAIN **
                                                    </center>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                            <!--end::Wizard Form-->
                        </div>
                    </div>
                </div>
                <!--end::Body-->
            </div>

        </div>

    </div>
</div>
<link href="~/assets/css/jquery.pinlogin.css" rel="stylesheet" />
<script src="~/assets/js/jquery.pinlogin.min.js"></script>
<script type="text/javascript">
    $(function () {
        var loginpin = $('#loginpin').pinlogin({
            fields: 8,
            reset: false,
            complete: function (pin) {

            },
        });
    });
    //$('#print_receipt').click(function () {
    //    $('#hidden_recipt').printElement({
    //    });
    //})
</script>

<div class="modal fade" id="mymodal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">PIN Password for recharge</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row  d-flex flex-center">
                    <div class="col-6">
                        <div class="form-group">
                            <label>Mobile Number:</label>
                            <label id="lblMobileNo" class="form-control-solid"></label>
                        </div>
                        <div class="form-group">
                            <label>Operator:</label>
                            <label id="lblOperator"></label>
                        </div>
                        <div class="form-group">
                            <label>Amount:</label>
                            <label id="lblAmount"></label>
                        </div>
                    </div>
                    <div class="col-12 text-center mb-2">Enter TPIN</div>
                </div>
                <div class="d-flex flex-center">
                    
                    <div id="loginpin" style="max-width:80%"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                <button type="button" class="btn btn-primary font-weight-bolder text-uppercase" id="btn_step3">Recharge Now</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/prepaid_wizard_script.js"></script>

<script>
    var html = $('#hidden_recipt').html();
    function PrintElem() {
        Popup(html);
    }

    function Popup(data) {
        var myWindow = window.open('', 'Receipt', 'height=400,width=600');
        myWindow.document.write('<html><head><title>Receipt</title>');
        myWindow.document.write('<style type="text/css"> *, html {margin:2px;padding:0;} </style>');
        myWindow.document.write('</head><body>');
        myWindow.document.write(data);
        myWindow.document.write('</body></html>');
        myWindow.document.close();
        myWindow.onload = function () {
            myWindow.focus();
            myWindow.print();
            myWindow.close();
        };
    }
</script>