@{
    Layout = null;
}
@model PayInc_Customer_web.Models.LoginModelReq
<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <base href="../../../../">
    <meta charset="utf-8" />
    <title>Login | Relipay - RNFI</title>
    <meta name="description" content="Login page example" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/assets/css/pages/login/classic/login-4.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        <div class="login login-4 login-signin-on d-flex flex-row-fluid" id="kt_login">
            <div class="d-flex flex-center flex-row-fluid bgi-size-cover bgi-position-top bgi-no-repeat" style="background-image: url('assets/media/bg/bg-3.jpg');">
                <div class="login-form text-center p-7 position-relative overflow-hidden">
                    <div class="d-flex flex-center mb-10">
                        <a href="#">
                            <img src="~/assets/media/logos/logo_rnfi.png" class="max-h-lg-150px max-h-sm-75px" alt="" />
                        </a>
                    </div>
                    <div class="login-signin">
                        <div class="mb-20">
                            <h3>Sign In To RNFI</h3>
                            <div class="text-muted font-weight-bold">Enter your credential to login your account:</div>
                        </div>
                        <form class="form" asp-controller="login" asp-action="index" method="post" id="form_login">
                            @Html.AntiForgeryToken()
                            <div class="form-group mb-5">
                                <input asp-for="UserName" class="form-control h-auto form-control-solid py-4 px-8" type="text" placeholder="CUSTOMER CODE/MOBILE NUMBER" name="username" value="9000000090" />
                                <span asp-validation-for="UserName" class="text-danger"></span>

                            </div>
                            <div class="form-group mb-5">
                                <input asp-for="Password" class="form-control h-auto form-control-solid py-4 px-8" type="password" placeholder="PASSWORD" name="password" value="12345678" maxlength="8" />
                                <span asp-validation-for="Password" class="text-danger"></span>

                            </div>
                            <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
                                <div class="checkbox-inline">
                                    <label class="checkbox m-0 text-muted">
                                        <input type="checkbox" name="remember" />
                                        <span></span>Remember me
                                    </label>
                                </div>
                                <a href="#" id="kt_login_forgot" class="text-muted text-hover-primary">Forgot Password ?</a>
                            </div>
                            <button type="submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-4" id="btn_signin">Sign In</button>
                        </form>
                        <div class="mt-10">
                        </div>
                    </div>
                    <div class="login-signup">
                        <div class="mb-20">
                            <h3>Sign Up</h3>
                            <div class="text-muted font-weight-bold">Enter your details to create your account</div>
                        </div>
                        <form class="form" id="kt_login_signup_form">
                           
                            <div class="form-group mb-5">
                                <input class="form-control h-auto form-control-solid py-4 px-8" type="password" placeholder="Confirm Password" name="cpassword" />
                            </div>
                            <div class="form-group mb-5 text-left">
                                <div class="checkbox-inline">
                                    <label class="checkbox m-0">
                                        <input type="checkbox" name="agree" />
                                        <span></span>I Agree the
                                        <a href="#" class="font-weight-bold ml-1">terms and conditions</a>.
                                    </label>
                                </div>
                                <div class="form-text text-muted text-center"></div>
                            </div>
                            <div class="form-group d-flex flex-wrap flex-center mt-10">
                                <button id="kt_login_signup_submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">Sign Up</button>
                                <button id="kt_login_signup_cancel" class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-2">Cancel</button>
                            </div>
                        </form>
                    </div>
                    <div class="login-forgot">
                        <div class="mb-20">
                            <h3>Forgotten Password ?</h3>
                            <div class="text-muted font-weight-bold">Enter your Mobile Number to reset your password</div>
                        </div>
                        <form class="form" id="kt_login_forgot_form">
                            <div class="form-group mb-10">
                                @Html.TextBoxFor(m=>m.MobileNumber,null,new { @class= "form-control form-control-solid h-auto py-4 px-8", autocomplete = "off", placeholder = "Mobile Number" })
                                @Html.ValidationMessageFor(m=>m.MobileNumber,"",new { @class="text-danger" })
                            </div>
                            <div class="form-group d-flex flex-wrap flex-center mt-10">
                                <button id="kt_login_forgot_submit" type="submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">Send OTP<span class=""></span></button>
                                <a href="/" id="kt_login_forgot_cancel" class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-2">Cancel</a>
                            </div>
                        </form>
                        <form class="form digit-group" id="kt_login_forgot_otp" style="display:none" data-group-name="digits" data-autosubmit="false" autocomplete="off">
                            <div class="text-muted font-weight-bold">ENTER OTP</div>
                            <div class="form-group mb-10">
                                <input type="text" id="digit-1" name="digit1" data-next="digit-2" class="form-control-solid" />
                                <input type="text" id="digit-2" name="digit2" data-next="digit-3" data-previous="digit-1" class="form-control-solid" />
                                <input type="text" id="digit-3" name="digit3" data-next="digit-4" data-previous="digit-2" class="form-control-solid" />
                                <span class="splitter">&ndash;</span>
                                <input type="text" id="digit-4" name="digit4" data-next="digit-5" data-previous="digit-3" class="form-control-solid" /> 
                                <input type="text" id="digit-5" name="digit5" data-next="digit-6" data-previous="digit-4" class="form-control-solid" />
                                <input type="text" id="digit-6" name="digit6" data-previous="digit-5" class="form-control-solid" />
                            </div> 
                            <div class="form-group d-flex flex-wrap flex-center mt-10">
                                <button id="kt_login_forgot_submit" type="submit" class="btn btn-primary font-weight-bold px-9 py-4 my-3 mx-2">Change</button>
                                <a href="/" id="kt_login_forgot_cancel" class="btn btn-light-primary font-weight-bold px-9 py-4 my-3 mx-2">Cancel</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .digit-group input {
            width: 30px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            font-size: 24px;
            font-family: 'Raleway', sans-serif;
            font-weight: 200;
            margin: 0 2px;
        }
        .splitter {
            padding: 0 5px;
            color: black;
            font-size: 24px;
        }
    </style>
    <script>var HOST_URL = "https://preview.keenthemes.com/metronic/theme/html/tools/preview";</script>
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1400 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#3699FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#E4E6EF", "dark": "#181C32" }, "light": { "white": "#ffffff", "primary": "#E1F0FF", "secondary": "#EBEDF3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#3F4254", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#EBEDF3", "gray-300": "#E4E6EF", "gray-400": "#D1D3E0", "gray-500": "#B5B5C3", "gray-600": "#7E8299", "gray-700": "#5E6278", "gray-800": "#3F4254", "gray-900": "#181C32" } }, "font-family": "Poppins" };</script>
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    <script src="~/assets/js/pages/custom/login/login-general.js"></script>
    <script>
        $(document).ready(function () {
            $("#kt_login_forgot").click(function () {
                $(".login-signin").hide();
                $(".login-forgot").show();
            });
            $("#kt_login_forgot_form").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: "@Url.Action("ForgotPassword", "Login")",
                    type: "POST",
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.success) {
                            $("#kt_login_forgot_form").hide();
                            $("#kt_login_forgot_otp").show();
                        }
                        else {
                            toastr.error(data.errorMessage, "Alert");
                        }
                    }
                });

            });
            $("#kt_login_forgot_otp").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: "@Url.Action("VerifyOTP", "Login")",
                    type: "POST",
                    data: $(this).serialize(),
                    success: function (data) {
                        if (data.success) {
                            toastr.error("Password reset and sent to registered mobile number", "Alert");
                        }
                        else {
                            toastr.error(data.errorMessage, "Alert");
                        }
                    }
                });
            });

            $("#form_login").submit(function (e) {
                $("#btn_signin").text("Logging you in...");

                $("#btn_signin").addClass("spinner spinner-right spinner-white pr-15");
            });
        });
    </script>
    <script>
        $('.digit-group').find('input').each(function () {
            $(this).attr('maxlength', 1);
            $(this).on('keyup', function (e) {
                var parent = $($(this).parent());
                if (e.keyCode === 8 || e.keyCode === 37) {
                    var prev = parent.find('input#' + $(this).data('previous'));
                    if (prev.length) {
                        $(prev).select();
                    }
                } else if ((e.keyCode >= 48 && e.keyCode <= 57) || (e.keyCode >= 65 && e.keyCode <= 90) || (e.keyCode >= 96 && e.keyCode <= 105) || e.keyCode === 39) {
                    var next = parent.find('input#' + $(this).data('next'));
                    if (next.length) {
                        $(next).select();
                    } else {
                        if (parent.data('autosubmit')) {
                            parent.submit();
                        }
                    }
                }
            });
        });
    </script>
    <partial name="_ValidationScriptsPartial" />
    @if (ViewData["ErrorMessage"] != null)
    {
        <script>
            toastr.error("@ViewData["ErrorMessage"]", "Alert");
        </script>
    }
</body>
</html>