@model PayInc_Customer_web.Areas.PaymentManagement.Models.PaymentTransferAck
@{
    Layout = null;
}
@{
    var loginRes = new PayInc_Customer_web.Utility.SessionUtility().GetLoginSession();
}
<style>
    th {
        background-color: #f8f8f9;
    }
</style>
<table class="table table-bordered">
    <tbody>
        <tr>
            <td>
                <img src="~/assets/media/logos/logo_rnfi.png" style="width:150px;" />
            </td>
            <td class="text-right text-muted ml-5">
                <b>Agent Name:</b> @(loginRes.firstName+ " "+ loginRes.lastName )<br />
                <b>Mobile Number:</b> @loginRes.mobileNumber<br />
                <b>Address:</b> @(loginRes.Address ?? "NA")<br />
                <b>Reciept Date:</b> @System.DateTime.Now.ToString("dddd, dd MMMM yyyy")
            </td>
        </tr>
    </tbody>
</table>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th>Payee </th>
            <td>@Model.PayeeName (@Model.PayeeMobileNumber)</td>
        </tr>
        <tr>
            <th>Payee Wallet Balance</th>
            <td>@Model.PayeeWalletBal</td>
        </tr>
        <tr>
            <th>Mode</th>
            <td>Transfer</td>
        </tr>
        <tr>
            <th>Transfer Amount</th>
            <td>@Model.Amount</td>
        </tr>
        <tr>
            <th>Status</th>
            <td><span class="@(Model.StatusId==1 ? "text-success": "text-danger")">@Model.Status</span></td>
        </tr>
    </tbody>

</table>
<div class="form-group row">
    <div class="col-lg-10 ml-lg-auto">
        <a href="/Home" class="btn btn-primary font-weight-bold mr-2">Go To Dashboard</a>
    </div>
</div>